*
	{
	margin:0px;
	padding:0px;
 	}
#titulo
	{
		margin: 3% 30% 5% 30%;
		font-family:Helvetica;
		font-style: italic;
	}

#inicio
	{
		margin: 13% 50% 50% 30%;
		width:25%;	
		height: 30%;
		/*manejando fuentes*/
		font-family:Helvetica;
		font-size: 25px;	
		/*manejando bordes */
		background-color:#ffff00;
  		border-width:1px;
  		border-color:#000000;	
	}